@media (min-width: 640px) {

    /*For hamburger menu*/
    #menu {
        display: none; /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
        max-width: var(--max-width);
        border: 3px solid black;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
    /*End stuff for hamburger menu*/
}