@media (min-width: 640px) {

    /*For hamburger menu*/
    #menu {
        display: none; /* hide hamburger button */
    }

    .title {
        width: 80%;
    }

    .navigation {
        flex-direction: row;
        max-width: var(--max-width);
        border: 3px solid black;
    }
    /*End stuff for hamburger menu*/
    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    img {
        width: 90%;
        display: block;
        margin: 0 auto;
    }
    
}