@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=PT+Sans+Narrow:wght@700&family=Rubik&display=swap');

:root {
    --powder-blue: #A2BED6ff;
    --tan: #D1B89Aff;
    --cadet-gray: #9FABB3ff;
    --beaver: #917F72ff;
    --lion: #CB9A63ff;
    --max-width: 1240px;
  }

body {
    font-family: "Noto Serif";
    margin: 0 auto;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: white;
}

header, main, nav {
    width: auto;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--tan);
    max-width: var(--max-width);
    border: 3px solid black;
}

header img {
    width: 150px;
    margin: 0 auto;
    padding: 2em;
    border-radius: 100%;
}

header h1 {
    text-align: center;
    padding: 1em;
    font-size: 2em;
    white-space: pre;
}

nav {
    background-color: var(--lion);
    border: 3px solid black;
    max-width: var(--max-width);
}

nav a {
    display: block;
    background-color: var(--tan);
    width: 200px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 0.5em;
    color: black;
    font-size: 1.2em;
    text-decoration: none;
}

nav a:hover {
     background-color: var(--lion);
    }

main {  
    background-color: var(--beaver);
    margin-top: 0;
    margin: auto;
    max-width: var(--max-width);
    border: 3px solid black;
}

main h2 {
    text-align: center;
}

.card {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
}

.card h3 {
    text-align: center;
    background-color: var(--lion);
    padding: 1em;
}

.card p {
    text-align: center;
}

ul {
    list-style-type: square;
}

footer {
    margin: 0 auto;
    max-width: var(--max-width);
    text-align: center;
    background-color: var(--tan);
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border: 3px solid black;
}